# Dependencies
node_modules/
**/node_modules/

# Expo & Web builds
.expo/
**/.expo/
web-build/
**/web-build/
expo-env.d.ts

# Production build artifacts
# dist/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.orig
*.orig.*
.vscode/
.idea/

# Environment files
.env*.local

# Native
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.tsbuildinfo

# Metro
.metro-health-check*

# Generated native folders
/ios
/android
